@page  "/SettingManagement"
@using Abp.SettingManagement.Mvc.UI.Localization
@using Abp.SettingManagement.Mvc.UI.Web.Pages.AbpSettingManagementMvcUI
@using Abp.SettingManagement.Mvc.UI.Web.Views.Components
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IHtmlLocalizer<AbpSettingManagementMvcUIResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Settings"].Value;
}
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/AbpSettingManagementMvcUI/Index.js" />
    </abp-script-bundle>
}

<div id="SettingManagementUIWrapper">
    <abp-card>
        <abp-card-body>
            <abp-tabs tab-style="PillVertical" vertical-header-size="_3">
                @foreach (var group in Model.Groups)
                {
                    <abp-tab title="@group.GroupDisplayName">
                        <h2>@group.GroupDisplayName</h2>
                        <hr class="my-4" />
                        <form method="post" id="@(group.GroupName)SettingGroup">
                            @await Component.InvokeAsync(typeof(SettingViewComponent), group)
                            <abp-button type="submit" button-type="Primary" text="@L["Save"].Value" />
                        </form>
                    </abp-tab>
                }
            </abp-tabs>
        </abp-card-body>
    </abp-card>
</div>